.ef-demo-component-ext {
  display: flex;
  animation: ef-demo-component-ext__popup-anim 2s infinite ease-in-out;
}

.ef-demo-component-ext__devil {
  margin-left: 1rem;
  animation: ef-demo-component-ext__devil-anim 0.5s infinite ease-in-out;
}

@keyframes ef-demo-component-ext__popup-anim {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes ef-demo-component-ext__devil-anim {
  0%,
  100% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
